.center-container {
    padding-top: 20px;
}
.srv-info-item {
    text-align: left;
}
html, body {
    background: -moz-linear-gradient(271deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,218,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
    height: 100%;
    width: 100%;
}

.v-align {
    padding-top: 50%;
}